/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout styles */
:root {
  --primary: #1aac83;
}

body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: var(--primary);
}

.nav-list {
  display: flex;
}

.nav-list li {
  list-style: none;
  margin-left: 20px;
}

.nav-list li a:hover {
  color: var(--primary);
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 95px 20px 20px 20px;
  margin: 0 auto;
}

/* home page styles */

.home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.page-title {
  color: #1aac83;
  font-weight: 300;
  margin-bottom: 20px;
}

.movie-wrapper {
  padding: 5px;
  border-radius: 6px;
  background-color: #fff;
}

.movie-details h3 {
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  color: #333;
}

.image-wrapper {
  width: 100%;
  max-width: 400px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.movie-btn {
  display: block;
  width: 100%;
  padding: 0.5em 0.938em;
  border-radius: 6px;
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}

.movie-btn--active {
  display: block;
  width: 100%;
  padding: 0.5em 0.938em;
  border-radius: 6px;
  border: 1px solid var(--primary);
  color: #fff;
  background-color: var(--primary);
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}

.no-liked-movies {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  color: #333;
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
  }

  .movie-details h3 {
    font-size: 15px;
  }

  .pages {
    padding: 70px 20px 20px 20px;
  }
}

@media (max-width: 480px) {
  .home {
    grid-template-columns: 1fr;
  }

  header h1 {
    font-size: 20px;
  }
}
